.input-height-ios
{
	max-height:5vh;
	min-height:5vh;
}

.form-control-noheight {
height:13vh;	
}

.main_titulo{
    text-align: center;
    color: white;
    font-family: sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding-top: 2vh;
}

.select_titulo_total{
    display: block;
    background: white;
    color: black;
    font-family: sans-serif;
	font-size: 20px;
    text-align: left;
    border-radius: 0.40rem;
    line-height: 1;
    margin: auto;
    padding: 13px;
    font-size: 1.1em;
}

.select_titulo{
    color: white;
    font-family: sans-serif;
	font-size: 1em;
	text-align: left;
	padding-top: 2vh;
}


.select_label{
   
	vertical-align: middle;
	
}



#from-datepicker{
    background: rgba(255, 255, 255);
    color: black;
}

.custom-select, .input-horas, .form-control{
    background: rgb(255, 255, 255);
    color: black;
    
}

.input-horas{
    max-width: 100%;
    margin-left: 0;
}

.descricao{
    width: 100%;
}



.btn-relatorio {
  color: black;
  background-color: #dcdcdc;
  border-color: #dae0e5;
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 250px;
}
