.input-height-ios
{
	max-height:5vh;
	min-height:5vh;
}

.main_titulo {
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding-top: 2vh;
}

.select_titulo {
	color: white;
	font-family: sans-serif;
	font-size: 1em;
	text-align: left;
	padding-top: 2vh;
	
}

.select_tituloCheckLeft {
	color: white;
	font-family: sans-serif;
	font-size: 1em;
	text-align: left;
	padding-top: 2vh;
	padding: 70px 0;
	
	
}

.select_tituloCheckRight {
	color: white;
	font-family: sans-serif;
	font-size: 1em;
	text-align: right;
	padding-top: 2vh;
	padding: 70px 0;
	
	
}

#from-datepicker {
	background: rgba(255, 255, 255);
	color: black;
}

.custom-select, .input-horas, .form-control {
	background: rgb(255, 255, 255);
	color: black;
}

.input-horas {
	max-width: 100%;
	margin-left: 0;
}

.descricao {
	width: 100%;
}

.select_titulo_total {
	display: block;
	background: white;
	color: black;
	font-family: sans-serif;
	font-size: 20px;
	text-align: left;
	border-radius: 0.40rem;
	line-height: 1;
	margin: auto;
	padding: 13px;
	font-size: 1em;
}

.mb-3 {
	margin-bottom: 1rem !important;
	width: 100%;
	padding: 10px;
	border-radius: 0.40rem;
	margin-top: 20px;
}

label {
	display: inline-block;
	margin-bottom: .5rem;
	margin-top: 5px;
	color: white;
	padding: 5px;
	height: 34%;
	font-size: 0.7em;
}

hr {
	background: white;
}

.rodape {
	color: white;
}


/* jQuery List Swipe Example CSS */

.item-list { overflow: hidden;}

.item-list .item {
  position: relative;
  display: table;
  width: 100%;
  background: #FFF;
  margin-top: 5px;
  border-radius: 0.40rem; 
}

.item-list .item > div {
  padding: 10px;

}


.btnedit
{
	background: #FFF;
	border: 0;
	border-radius: 0.40rem; 
	color:#515caf;
	
}

.btndelete
{
     float: right;	
	 border: 0;
	 border-radius: 0.40rem; 
	 background: #FFF; 
	 color:#d97365;
}


.item-list .item .action {
  position: absolute;
  width: 80px;
  max-width:80px;
  height: 100%;
  top: 0;
  border: 0;
  color: #FFF;
  outline: none;
  border-radius: 0.40rem; 
}

.item-list .item .action:first-child::before, .item-list .item .action:last-child::before {
  position: absolute;
  top: 0;
  content: '';
  width: 2000px;
  height: 100%;
}


.item-list .item .action:first-child { left: -80px; }
.item-list .item .action:first-child::before { right: 80px; }
.item-list .item .action:last-child { right: -80px; }
.item-list .item .action:last-child::before { left: 80px; }
.item-list .item .action:first-child {background: #121b4e; }
.item-list .item .action:last-child { background: #4e1a13; }

.inner {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  min-width: 320px;
  padding: 0 10px;
}