:root { 
	--main_border_color: #b4b4b4; 
	--main_titulo_background_color: #e8e8e8; 
	--main_titulo_font_color: black;
}

.main_borda_corpo {
	position: relative;
	top: 7vh;
	z-index: 2;
	padding: 15px;
	background-color: var(--main_border_color);
	margin-left: 10vw;
	margin-right: 10vw;
}

.main_borda_corpo .main_corpo {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.main_titulo {
	position: relative;
	top: -15px;
	padding-top: 2vh;
	background-color: var(--main_titulo_background_color);
	height: 3vh;
	color: var(- -main_titulo_font_color);
	font-family: sans-serif;
	font-size: 3vh;
	font-weight: bold;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.main_subtitulo {
	position: relative;
	top: -15px;
	padding-top: 2vh;
	background-color: var(--main_titulo_background_color);
	height: 5vh;
	color: var(- -main_titulo_font_color);
	font-family: sans-serif;
	font-size: 2vh;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.main_conteudo {
	position: relative;
	padding: 15px;
	text-align: justify;
}

.main_body {
	background: url('../../common/img/main_background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: sans-serif;
}
